/* .submBut{
  display: flex;
  justify-content: center;
}
.button{
  width: 50%;
}
.mainFormBlock{
  min-width: 350px;
  width: 45vw;
}
.blockMain{
  display: flex;
  justify-content: center;
} */

/* input {
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  text-align: center;
  padding: 10px;
  color: #fff;
  outline: none;
} */
