.newsBlock{
  width: 1310px;
  /* min-width: 500px; */
  /* display: flex; */
  /* border: solid black 1px; */
  background: #fff;
  margin-bottom: 50px;
  padding: 25px 50px;
  flex-direction: column;
  border-radius: 5px;
}

.Title p{
  /* font-weight: bolder; */
  font-family: "RF Rostin Bold";
  font-size: 25px;
  margin: 25px 0;
  color: #4520AB;
}

.NewsText p {
  font-family: "RF Rostin";
}

.newsHeader {
  color: #4520AB;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.newsWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
